<div id="about" class="about">
    <div class="container">
        <div class="about__content">
            <div class="about__block about__block--text">
                <h2 class="section__title">Крупнейший гостиничный оператор</h2>
                
                <p class="section__text">Управлением Status займется крупнейший мировой оператор AccorHotels, обладающий уникальным опытом и огромными ресурсами для продвижения нашего проекта.
                </p>

                <div class="about__image_block">
                    <img src="img/content/about.png" alt="" class="about__image">

                    <p class="about__image_text">Французкий оператор, владеющий брендами Novotel, Adagio, Mercury и Ibis.</p>
                </div>
            </div>

            <div class="about__block stats_block">
                <div class="stats__item">
                    <span class="value">5000</span>
                    <span class="name">отелей по всему миру</span>
                </div>
                <div class="stats__item">
                    <span class="value">17,9</span>
                    <span class="name">млрд. евро годовой оборот</span>
                </div>
                <div class="stats__item">
                    <span class="value">110</span>
                    <span class="name">стран присутствия</span>
                </div>
                <div class="stats__item">
                    <span class="value">5 <span class="small">сек.</span></span>
                    <span class="name">каждые 5 сек происходит
                        новое бронирование</span>
                </div>
            </div>
        </div>
    </div>
</div>