<div id="advantages" class="advantages">
    <div class="container">
        <div class="advantages__content">
            <div class="advantages__block">

                <div class="advantages__item">
                    <div class="advantages__icon">
                        <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M24 28C27.3137 28 30 25.3137 30 22C30 18.6863 27.3137 16 24 16C20.6863 16 18 18.6863 18 22C18 25.3137 20.6863 28 24 28Z" stroke="#6321A6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M35.314 33.314L26.828 41.8C26.078 42.5493 25.0612 42.9702 24.001 42.9702C22.9408 42.9702 21.924 42.5493 21.174 41.8L12.686 33.314C10.4484 31.0763 8.92468 28.2254 8.30738 25.1217C7.69009 22.0181 8.00699 18.8011 9.21801 15.8775C10.429 12.9539 12.4798 10.4551 15.111 8.69704C17.7421 6.93897 20.8355 6.00061 24 6.00061C27.1645 6.00061 30.2579 6.93897 32.889 8.69704C35.5202 10.4551 37.571 12.9539 38.782 15.8775C39.993 18.8011 40.3099 22.0181 39.6926 25.1217C39.0753 28.2254 37.5516 31.0763 35.314 33.314V33.314Z" stroke="#6321A6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                            
                    </div>
                    <div class="advantages__text_container">
                        <h3 class="advantages__title">Ликвиднее новостройки на окраине.</h3>
                        <div class="advantages__text">
                            Апартаменты в Московском районе быстро растут в цене.
                        </div>
                    </div>
                    
                </div>

                <div class="advantages__item">
                    <div class="advantages__icon">
                        <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M36 10H12C8.68629 10 6 12.6863 6 16V32C6 35.3137 8.68629 38 12 38H36C39.3137 38 42 35.3137 42 32V16C42 12.6863 39.3137 10 36 10Z" stroke="#6321A6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M6 20H42" stroke="#6321A6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M14 30H14.02" stroke="#6321A6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M22 30H26" stroke="#6321A6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                                                  
                    </div>
                    <div class="advantages__text_container">
                        <h3 class="advantages__title">Несравнимо проще квартиры в аренду.</h3>
                        <div class="advantages__text">
                            Все издержки, обслуживание и привлечение клиентов мы берем на себя
                        </div>
                    </div>
                    
                </div>

                <div class="advantages__item">
                    <div class="advantages__icon">
                        <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16 24H8C6.89543 24 6 24.8954 6 26V38C6 39.1046 6.89543 40 8 40H16C17.1046 40 18 39.1046 18 38V26C18 24.8954 17.1046 24 16 24Z" stroke="#6321A6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M28 16H20C18.8954 16 18 16.8954 18 18V38C18 39.1046 18.8954 40 20 40H28C29.1046 40 30 39.1046 30 38V18C30 16.8954 29.1046 16 28 16Z" stroke="#6321A6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M40 8H32C30.8954 8 30 8.89543 30 10V38C30 39.1046 30.8954 40 32 40H40C41.1046 40 42 39.1046 42 38V10C42 8.89543 41.1046 8 40 8Z" stroke="#6321A6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M8 40H36" stroke="#6321A6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                    </div>
                    <div class="advantages__text_container">
                            <h3 class="advantages__title">Намного выгоднее, чем банковский депозит</h3>
                        <div class="advantages__text">
                            Банковские ставки едва покрывают инфляцию  
                        </div>
                    </div>
                    
                </div>

                <div class="advantages__item">
                    <div class="advantages__icon">
                        <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M24 12L32 24L42 16L38 36H10L6 16L16 24L24 12Z" stroke="#6321A6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                    </div>
                    <div class="advantages__text_container">
                        <h3 class="advantages__title">Прямое управление AccorHotels</h3>
                        <div class="advantages__text">
                            Гостиничный продукт  с мировым именем, а не просто сервисные апартаменты
                    </div>
                    
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>