<div id="apartments" class="apartments">
    <div class="container">
        <div class="apartments__content">
            <h2 class="section__title">Инвестиционные апартаменты</h2>

            <div class="section__block">
                <div class="section__text_block">
                    <p class="section__text">Инвестиции ключают в себя отделку и меблировку «под ключ» по стандартам гостиничного оператора ACCOR.
                    </p>
                </div>
                <div class="section__text_block">
                    
                    <p class="section__text">
                        Все расходы по управлению, страхованию, содержанию и эксплуатации берет на себя арендатор.
                    </p>
                </div>
            </div>

            <div class="apartments__slider slider_pattern custom_bullets tablet_more_width" data-swiper="swiper3">
                <div class="swiper-wrapper">
                
                    <div class="swiper-slide" data-title="Family" data-profit="613 060" data-year='613 060' data-month='51 088' data-area="24,08" data-sum="от 5,8 млн." data-plan='plan.png'>
                        <img src="img/content/apartments.jpg" alt="" class="slider_image">
                    </div>
                
                    <div class="swiper-slide" data-title="Grant" data-profit="653 060" data-year='653 060' data-month='41 088' data-area="22,08" data-sum="от 3,8 млн." data-plan='plan_2.png'>
                        <img src="img/content/apartments.jpg" alt="" class="slider_image">
                    </div>
                
                    <div class="swiper-slide" data-title="Lux" data-profit="513 060" data-year='513 060' data-month='11 088' data-area="44,08" data-sum="от 6,8 млн." data-plan='plan_3.png'>
                        <img src="img/content/apartments.jpg" alt="" class="slider_image">
                    </div>

                </div>

                <div class="slider_control_block">
                    <h3 class="slider_title"></h3>
                    <p class="slider_info_text"></p>

                    <div class="swiper-pagination3 progress_bar"></div>   
           
                    <div class="slider_controls">
                        <div class="swiper_bullets swiper-pagination-clickable"></div>   

                        <div class="swiper-button-next">
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M31.6334 15.1152C31.633 15.1148 31.6327 15.1144 31.6322 15.114L25.1007 8.614C24.6114 8.12706 23.82 8.12887 23.3329 8.61825C22.8459 9.10756 22.8478 9.89899 23.3371 10.386L27.7224 14.75H1.25C0.559625 14.75 0 15.3096 0 16C0 16.6904 0.559625 17.25 1.25 17.25H27.7223L23.3372 21.614C22.8479 22.101 22.846 22.8924 23.333 23.3817C23.8201 23.8712 24.6116 23.8729 25.1008 23.386L31.6323 16.886C31.6327 16.8856 31.633 16.8852 31.6334 16.8848C32.123 16.3962 32.1214 15.6022 31.6334 15.1152Z" fill="#B3B1C2"/>
                                <rect width="32" height="32" />
                            </svg>                            
                        </div>
                    </div> 
                </div>
            </div>

            <div class="apartments__block">
                <div class="apartments__top">
                    <h2 class="apartments__block_title"></h2>
                    <div class="apartments__show_plan" data-toggle="modal">
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 29.3333L6.66666 27.5V23.3333" stroke="#6321A6" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M6.66666 16.6667V12.5L10 10.6667" stroke="#6321A6" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M16.6667 6.83333L20 5L23.3333 6.83333" stroke="#6321A6" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M30 10.6667L33.3333 12.5V16.6667" stroke="#6321A6" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M33.3333 23.3333V27.5L30 29.3667" stroke="#6321A6" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M23.3333 33.1667L20 35L16.6667 33.1667" stroke="#6321A6" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M20 20L23.3333 18.1667" stroke="#6321A6" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M30 14.3333L33.3333 12.5" stroke="#6321A6" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M20 20V24.1667" stroke="#6321A6" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M20 30.8333V35" stroke="#6321A6" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M20 20L16.6667 18.1333" stroke="#6321A6" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M10 14.3333L6.66666 12.5" stroke="#6321A6" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        Смотреть планировку     
                    </div>
                </div>

                <div class="apartments__values">
                    
                    <div class="apartments__values_item apartments__values_item--year">
                        <p class="value"></p>
                        <span class="value_name">в год</span>
                    </div>

                    <div class="apartments__values_item apartments__values_item--month">
                        <p class="value"></p>
                        <span class="value_name">в месяц</span>
                    </div>

                    <div class="apartments__values_item apartments__values_item--area">
                        <p class="value"></p>
                        <span class="value_name">площадь номера</span>
                    </div>

                    <div class="apartments__values_item apartments__values_item--sum">
                        <p class="value"></p>
                        <span class="value_name">сумма инвестирования</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>