<div class="banner">
    <div class="banner__content">
        <div class="banner__slider slider_pattern custom_bullets" data-swiper="swiper">
            <div class="swiper-wrapper">
                <!-- Slides -->

                <div class="swiper-slide swiper-slide1">
                    <div class="container">
                        <div class="banner__content">
                            <h2 class="banner__title">Апартаменты с гарантированной доходностью</h2>
                            <p class="banner__description">Уникальные инвестиционные апартаменты
                                с <span class="highlight highlight--secondary">гарантированной</span> доходностью 10,57% 
                                в Московском районе Петербурга.</p>
                            <a href="#format" class="btn btn_1"><span class="inner_text">Подробнее</span></a>  

                            <button class="banner__control pause" onclick="if($(this).hasClass('pause')){jQuery('#player1').YTPPause()}else{jQuery('#player1').YTPPlay()} "></button>
                            
                            <div id="player1" class="youtube_player" data-property="{videoURL:'http://youtu.be/1La4QzGeaaQ',containment:'.swiper-slide1',autoPlay:true, mute:true, startAt:0, opacity:1}"></div>

                           
                        </div>
                    </div>  
                    <div class="player_overlay">
                        <img src="img/content/video_1.jpg" alt="" class="banner__image">
                        <img src="img/design/preloader.gif" alt="" class="preloader">
                    </div>
                    <div class="text_overlay"></div>
                </div>
                <div class="swiper-slide swiper-slide2">
                    <div class="container">
                        <div class="banner__content">
                            <h2 class="banner__title">Апартаменты с гарантированной доходностью</h2>
                            <p class="banner__description">Уникальные инвестиционные апартаменты
                                с <span class="highlight highlight--secondary">гарантированной</span> доходностью 10,57% 
                                в Московском районе Петербурга.</p>
                            <a href="#format" class="btn btn_1"><span class="inner_text">Подробнее</span></a>  

                            
                        </div>
                    </div>  
                    <img src="img/content/video_1.jpg" alt="" class="banner__image">
                    <div class="text_overlay"></div>
                </div>

                <div class="swiper-slide swiper-slide3">
                    <div class="container">
                        <div class="banner__content">
                            <h2 class="banner__title">Апартаменты с гарантированной доходностью</h2>
                            <p class="banner__description">Уникальные инвестиционные апартаменты
                                с <span class="highlight highlight--secondary">гарантированной</span> доходностью 10,57% 
                                в Московском районе Петербурга.</p>
                            <a href="#format" class="btn btn_1"><span class="inner_text">Подробнее</span></a>  

                            <button class="banner__control" onclick="if($(this).hasClass('pause')){jQuery('#player3').YTPPause()}else{jQuery('#player3').YTPPlay()} "></button>
                            
                            <div id="player3" class="youtube_player" data-property="{videoURL:'http://youtu.be/1La4QzGeaaQ',containment:'.swiper-slide3',autoPlay: false, mute:true, startAt:0, opacity:1}">My video</div>
                        </div>
                    </div>  
                    <div class="player_overlay">
                        <img src="img/content/video_1.jpg" alt="" class="banner__image">
                        <img src="img/design/preloader.gif" alt="" class="preloader">
                    </div>
                    <div class="text_overlay"></div>
                </div>
                <div class="swiper-slide swiper-slide4">
                    <div class="container">
                        <div class="banner__content">
                            <h2 class="banner__title">Апартаменты с гарантированной доходностью</h2>
                            <p class="banner__description">Уникальные инвестиционные апартаменты
                                с <span class="highlight highlight--secondary">гарантированной</span> доходностью 10,57% 
                                в Московском районе Петербурга.</p>
                            <a href="#format" class="btn btn_1"><span class="inner_text">Подробнее</span></a>  

                            <button class="banner__control" onclick="if($(this).hasClass('pause')){jQuery('#player4').YTPPause()}else{jQuery('#player4').YTPPlay()} "></button>
                            
                            <div id="player4" class="youtube_player" data-property="{videoURL:'http://youtu.be/1La4QzGeaaQ',containment:'.swiper-slide4', autoPlay: false,mute:true, startAt:0, opacity:1}">My video</div>
                        </div>
                    </div>  
                    <div class="player_overlay">
                        <img src="img/content/video_1.jpg" alt="" class="banner__image">
                        <img src="img/design/preloader.gif" alt="" class="preloader">
                    </div>
                    <div class="text_overlay"></div>
                </div>
                
               
            </div>
            <div class="swiper-pagination progress_bar"></div>   
           
            <div class="slider_controls">        
                <div class="swiper_bullets swiper-pagination-clickable"></div>   
                <div class="swiper-button-next">
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M31.6334 15.1152C31.633 15.1148 31.6327 15.1144 31.6322 15.114L25.1007 8.614C24.6114 8.12706 23.82 8.12887 23.3329 8.61825C22.8459 9.10756 22.8478 9.89899 23.3371 10.386L27.7224 14.75H1.25C0.559625 14.75 0 15.3096 0 16C0 16.6904 0.559625 17.25 1.25 17.25H27.7223L23.3372 21.614C22.8479 22.101 22.846 22.8924 23.333 23.3817C23.8201 23.8712 24.6116 23.8729 25.1008 23.386L31.6323 16.886C31.6327 16.8856 31.633 16.8852 31.6334 16.8848C32.123 16.3962 32.1214 15.6022 31.6334 15.1152Z" fill="#B3B1C2"/>
                        <rect width="32" height="32" />
                    </svg>                            
                </div>
            </div>

        </div>
    </div>
</div>

