<div id="contacts" class="contacts">
    <div class="container">
        <div class="contacts__content">
            <div class="contacts__block">
                <h2 class="section__title">Наши контакты</h2>

                <form  class="contacts__form">
                    <div class="input_row">
                        <input type="email" class="input" placeholder="Ваш email" required>
    
                        <button class="btn btn_2">
                            <span class="inner_text">Свяжитесь со мной</span>
                        </button>                        
                    </div>
                </form>

                <div class="contacts__info">
                    <div class="contacts__info_block">
                        <div class="name">Санкт-Петербург</div>
                        <div class="name">
                            <p class="comment">Офис отдела продаж:</p>
                            Пулковское шоссе, дом 14 Г
                        </div>
                    </div>
                    <div class="contacts__info_block">
                        <div class="value">
                            <a href="tel:+78122452584">+7 812 245-25-84</a>
                        </div>
                        <div class="value">
                            <a href="https://www.status-apart.ru">status-apart.ru</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contacts__block">
                <img src="img/content/contacts.jpg" alt="" class="contacts__image">
            </div>
        </div>
    </div>
</div>