<div class="format" id="format">
    <div class="container">
        <div class="format__content">
            <h2 class="section__title">Уникальный формат</h2>

            <div class="section__block">
                <div class="section__text_block">
                    <p class="section__text">STATUS — это инвестиционный проект с <span class="highlight">гарантированной доходностью свыше 10% в год.</span> 
                    </p>
                    
                    <p class="section__text">
                        Объектом инвестиций являются <span class="highlight"> номера в составе комбо-отеля «Adagio Access&Novotel Санкт-Петербург Аэропорт»</span>, с полным оснащением и договором аренды на срок от 5 до 15 лет.
                    </p>
                </div>
                <div class="section__text_block">
                    
                    <p class="section__text">
                        Концепция проекта – комбо-отель с функционалом аэропорт-отеля под управлением международного оператора ACCOR – позволяет инвесторам получать <span class="highlight"> стабильный гарантированный доход </span> по долгосрочному договору аренды.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>