<head>
    <meta charset="UTF-8" />
    <title>Status</title>
    <link rel="stylesheet" href="css/main.min.css" />
    <link rel="stylesheet" href="libs/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="libs/youtube/jquery.mb.YTPlayer.min.css"/>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAqd5pA5G1rxG_3Yk9d_QC5ii8T4e4wNo&callback=initMap&libraries=&v=weekly"
      defer
></script>
    <meta name="viewport" content="width=device-width,  initial-scale=1" />
</head>
