<div class="header">
    <div class="container">
        <div class="header__content">
            <a href='#' class="logo">
                <img src="img/design/logo.svg" alt="">
            </a>

            <div class="header__block">
                <a href="tel:8 800 123 45 67" class="header__phone">8 800 123 45 67</a>

                <div class="menu_toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="menu">
    <div class="container">
        <div class="menu__content">
            <nav class="menu__nav">
                <ul class="menu__links">
                    <li class="menu__link"><a href="#format">Уникальный формат</a></li>
                    <li class="menu__link"><a href="#program">Программы доходности</a></li>
                    <li class="menu__link"><a href="#map">Местоположение</a></li>
                    <li class="menu__link"><a href="#apartments">Инвестиционные апартаменты</a></li>
                    <li class="menu__link"><a href="#about">О Accor Hotels</a></li>
                    <li class="menu__link"><a href="#infrastructure">Инфраструктура</a></li>
                    <li class="menu__link"><a href="#team">Команда</a></li>
                    <li class="menu__link"><a href="#progress">Ход строительства</a></li>
                    <li class="menu__link"><a href="#gallery">Галерея</a></li>
                    <li class="menu__link"><a href="#contacts">Контакты</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>








