<div id="map" class="map">
    <div class="container">
        <div class="map__content">
            <h2 class="section__title">Местоположение</h2>

            <div class="section__block">
                <div class="section__text_block">
                    <p class="section__text">Концепция проекта – комбо-отель с функционалом аэропорт-отеля под управлением международного оператора ACCOR – позволяет инвесторам получать <span class="highlight"> стабильный гарантированный доход</span> по долгосрочному договору аренды.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="map__block">
        <div class="map__slider slider_pattern custom_bullets" data-swiper="swiper2">
            <div class="swiper-wrapper">
                
                <div class="swiper-slide">
                    <div class="slider__container">
                        <div class="slider__title_container">
                            <div class="slider_icon">
                                <img src="img/design/plane.png" alt="" width="32px" height="32px">
                            </div>
                            <h3 class="slider__title">15 минут</h3>
                        </div>
    
                        <p class="slider__text">до КВЦ «Экспофорум» - центра деловой активности, места проведения Международного экономического Форума
                            и мировых конференций. </p>
                    </div>

                    <img src="img/content/map_1.jpg" alt="" class="slider__image">
                </div>

                <div class="swiper-slide">
                    <div class="slider__container">
                        <div class="slider__title_container">
                            <div class="slider_icon">
                                <img src="img/design/plane.png" alt="" width="32px" height="32px">
                            </div>
                            <h3 class="slider__title">15 минут</h3>
                        </div>
    
                        <p class="slider__text">до КВЦ «Экспофорум» - центра деловой активности, места проведения Международного экономического Форума
                            и мировых конференций. </p>
                    </div>

                    <img src="img/content/map_1.jpg" alt="" class="slider__image">
                </div>

                <div class="swiper-slide">
                    <div class="slider__container">
                        <div class="slider__title_container">
                            <div class="slider_icon">
                                <img src="img/design/plane.png" alt="" width="32px" height="32px">
                            </div>
                            <h3 class="slider__title">15 минут</h3>
                        </div>
    
                        <p class="slider__text">до КВЦ «Экспофорум» - центра деловой активности, места проведения Международного экономического Форума
                            и мировых конференций. </p>
                    </div>

                    <img src="img/content/map_1.jpg" alt="" class="slider__image">
                </div>
            </div>
            
            <div class="swiper-pagination2 progress_bar"></div>   
           

            <div class="slider_controls">
                <div class="swiper_bullets swiper-pagination-clickable"></div>   

                <div class="swiper-button-next">
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M31.6334 15.1152C31.633 15.1148 31.6327 15.1144 31.6322 15.114L25.1007 8.614C24.6114 8.12706 23.82 8.12887 23.3329 8.61825C22.8459 9.10756 22.8478 9.89899 23.3371 10.386L27.7224 14.75H1.25C0.559625 14.75 0 15.3096 0 16C0 16.6904 0.559625 17.25 1.25 17.25H27.7223L23.3372 21.614C22.8479 22.101 22.846 22.8924 23.333 23.3817C23.8201 23.8712 24.6116 23.8729 25.1008 23.386L31.6323 16.886C31.6327 16.8856 31.633 16.8852 31.6334 16.8848C32.123 16.3962 32.1214 15.6022 31.6334 15.1152Z" fill="#B3B1C2"/>
                        <rect width="32" height="32" />
                    </svg>                            
                </div>
            </div>  
        </div>

        <div id="map__container" class="map__container">
            
        </div>
    </div>
</div>