
<div class="popup popup--plan">
    <div class="popup_wr">
        <div class="popup__content">
            <button class="close ">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18 6L6 18" stroke="#B3B1C2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M6 6L18 18" stroke="#B3B1C2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>                    
            </button>

            <img src="" alt="" class="popup__image">

            <a href="" class="btn btn_2 popup__download" download>
                <span class="inner_text">Скачать планировку</span>
            </a>
        </div>
    </div>
</div>

<div class="popup popup--form">
    <div class="popup_wr">
        <div class="popup__content">
            <button class="close ">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18 6L6 18" stroke="#B3B1C2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M6 6L18 18" stroke="#B3B1C2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>                    
            </button>

            <form class="form">
                <h3 class="form__title">Оставить заявку</h3>

                <div class="input_wr">
                    <input type="text" class="input input_2 required" placeholder="Ваше имя">
                    <span class="error_text hidden">Поле не заполненно</span>
                </div>

                <div class="input_wr">
                    <input type="tel" class="input input_2 required input--tel" placeholder="Ваш номер">
                    <span class="error_text hidden">Поле не заполненно</span>
                </div>

                <div class="input_wr">
                    <input type="email" class="input input_2 required" placeholder="Email">
                    <span class="error_text hidden">Поле не заполненно</span>
                </div>
                
                
                

                <button class="btn btn_2 submit_form"><span class="inner_text">Оставить заявку</span></button> 
            </form>

            <div class="success_block form hidden">
                <h3 class="form__title">Заявка отправлена</h3>

                <p class="text">
                    Мы свяжемся с Вами в ближайшее время, чтобы обсудить все вопросы
                </p>
            </div>
        </div>
    </div>
</div>

<div class="popup popup--success">
    <div class="popup_wr">
        <div class="popup__content">
            <button class="close ">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18 6L6 18" stroke="#B3B1C2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M6 6L18 18" stroke="#B3B1C2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>                    
            </button>

            <div class="success_block form">
                <h3 class="form__title">Заявка отправлена</h3>

                <p class="text">
                    Мы свяжемся с Вами в ближайшее время, чтобы обсудить все вопросы
                </p>
            </div>
        </div>
    </div>
</div>