<div class="program" id="program">
    <div class="container">
        <div class="program__content">
            <h2 class="section__title">Программы доходности</h2>

            <div class="section__block">
                <div class="section__text_block">
                    <p class="section__text">Вы всегда получаете высокий доход - от своих инвестиций
                        или еще выше.
                    </p>
                </div>
                <div class="section__text_block">
                    
                    <p class="section__text">
                        Инвестиции в апартаменты сейчас – самый надежный и простой способ получения пассивного дохода.
                    </p>
                </div>
            </div>

            <div class="tab">
                <div class="tab__nav">
                    <div class="tab__nav_item active" data-tab="1">STATUS гарант</div>
                    <div class="tab__nav_item" data-tab="2">STATUS партнер</div>
                </div>

                <div class="tab__content">
                    <img src="img/content/program_1.jpg" alt="" class="tab__image active" data-tab="1">

                    <img src="img/content/program_2.jpg" alt="" class="tab__image" data-tab="2">


                    <div class="tab__info active" data-tab="1">
                        <span class="tab__info_title">Гарантированный доход:</span>

                        <span class="tab__info_value">10,57%</span>
                    </div>
                    
                    <div class="tab__info " data-tab="2">
                        <p class="tab__info_title">Планируемый доход:</p>

                        <p class="tab__info_value">от 14%</p>
                    </div>

                    <div class="tab__hint">
                        <p class="tab__hint_text">Гарантии мы строго прописываем в договоре аренды.</p>
                    </div>
                </div>

                <div class="tab__description tablet_more_width">

                    <div class="tab__description_container">
                        <div class="tab__description_block active" data-tab="1">
                            <span class="tab__description_title">10,57%</span>
                            <p class="tab__description_text">
                                10,57% с первого по пятый год аренды включительно. Участие в прибыли отеля с шестого по пятнадцатый годы.
                            </p>
                        </div>
                        <div class="tab__description_block " data-tab="2">
                            <span class="tab__description_title">от 14%</span>
                            <p class="tab__description_text">
                                Доход 5,75% годовых с первого по седьмой год аренды включительно. Участие в прибыли апарт-отеля с первого по пятнадцатый годы.
                            </p>
                        </div>
    
                        
                    </div>

                    <div class="form">
                        <h3 class="form__title">Остались вопросы?</h3>

                        <p class="form__text">
                            Задайте их по телефону <a href="tel:+78122107497" class="highlight">+7 812 210-74-97 </a> или отправьте электронным письмом на <a href="mailto:info@status-apart.ru" class="highlight">info@status-apart.ru</a> 
                        </p>

                        <span class="form__title">Обратная связь</span>

                        <button class="btn btn_2 modal_form"><span class="inner_text">Напишите нам</span></button> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>