<div id="progress" class="progress">
    <div class="container">
        <div class="progress__content">
            <h2 class="section__title">Ход строительства</h2>
        
            <div class="progress__slider slider_pattern" data-swiper="swiper6">
                <div class="swiper-wrapper">
                
                    <div class="swiper-slide">
                        <div class="main_image">
                            <img src="img/content/progress_1.jpg" alt="" class="slider__image">
                        </div>
                        
                        <div class="secondary__images">
                            <div class="secondary__image">
                                <img src="img/content/progress_1.jpg" alt="" class="slider__image">
                            </div>
                            <div class="secondary__image">
                                <img src="img/content/progress_1.jpg" alt="" class="slider__image">
                            </div>
                        </div>
                        
                    </div>
                    <div class="swiper-slide">
                        <div class="main_image">
                            <img src="img/content/progress_1.jpg" alt="" class="slider__image">
                        </div>
                        
                        <div class="secondary__images">
                            <div class="secondary__image">
                                <img src="img/content/progress_1.jpg" alt="" class="slider__image">
                            </div>
                            <div class="secondary__image">
                                <img src="img/content/progress_1.jpg" alt="" class="slider__image">
                            </div>
                        </div>
                        
                    </div>
                    <div class="swiper-slide">
                        <div class="main_image">
                            <img src="img/content/progress_1.jpg" alt="" class="slider__image">
                        </div>
                        
                        <div class="secondary__images">
                            <div class="secondary__image">
                                <img src="img/content/progress_1.jpg" alt="" class="slider__image">
                            </div>
                            <div class="secondary__image">
                                <img src="img/content/progress_1.jpg" alt="" class="slider__image">
                            </div>
                        </div>
                        
                    </div>
                
                </div>
            </div>

            <!-- <div class="swiper-pagination6 progress_bar"></div>    -->
           

            
            <div class="section__block_container">
                
                <div class="slider_controls">
                    <!-- <div class="swiper_bullets swiper-pagination-clickable"></div>    -->

                    <button class="swiper-button-prev">
                        <svg width="32" height="32" viewBox="0 0 32 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.366625 8.63482C0.367001 8.6352 0.367313 8.63563 0.36775 8.63601L6.89925 15.136C7.38856 15.6229 8.18 15.6211 8.66706 15.1318C9.15406 14.6424 9.15219 13.851 8.66287 13.364L4.27762 9.00001H30.75C31.4404 9.00001 32 8.44039 32 7.75001C32 7.05964 31.4404 6.50001 30.75 6.50001H4.27769L8.66281 2.13602C9.15213 1.64902 9.154 0.85758 8.667 0.368268C8.17994 -0.121169 7.38844 -0.122856 6.89919 0.364018L0.367687 6.86401C0.367311 6.86439 0.366999 6.86482 0.366562 6.8652C-0.123001 7.35382 -0.121437 8.14782 0.366625 8.63482Z" fill="#B3B1C2"/>
                        </svg>                                              
                    </button>

                    <button class="swiper-button-next">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M31.6334 15.1152C31.633 15.1148 31.6327 15.1144 31.6322 15.114L25.1007 8.614C24.6114 8.12706 23.82 8.12887 23.3329 8.61825C22.8459 9.10756 22.8478 9.89899 23.3371 10.386L27.7224 14.75H1.25C0.559625 14.75 0 15.3096 0 16C0 16.6904 0.559625 17.25 1.25 17.25H27.7223L23.3372 21.614C22.8479 22.101 22.846 22.8924 23.333 23.3817C23.8201 23.8712 24.6116 23.8729 25.1008 23.386L31.6323 16.886C31.6327 16.8856 31.633 16.8852 31.6334 16.8848C32.123 16.3962 32.1214 15.6022 31.6334 15.1152Z" fill="#B3B1C2"/>
                            <rect width="32" height="32" />
                        </svg>                            
                    </button>
                </div>  
                <div class="section__block_item active">
                    <h3 class="section__block_title">Сентябрь 2020 г.</h3>

                    <div class="section__block">
                        <div class="section__text_block">
                            <ul class="section__list">
                                <li class="section__list_item">начались работы по устройству наружных сетей ведопровода и канализации;</li>
                                <li class="section__list_item">ведутся работы по монтажу оконных блоков;</li>
                                <li class="section__list_item">ведутся работы по устройству кровли и внутренних перегородок;</li>
                                <li class="section__list_item">ведутся фасадные работы</li>
                            </ul>
                        </div>
                        <div class="section__text_block">
                            <ul class="section__list">
                                <li class="section__list_item">ведутся работы по устройству кровли и внутренних перегородок;</li>
                                <li class="section__list_item">ведутся работы по устройству встроенной ТП (транспортной подстанции;</li>
                                <li class="section__list_item">начались работы по устройству кровли паркинга;</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="section__block_item">
                    <h3 class="section__block_title">Октябрь 2020 г.</h3>

                    <div class="section__block">
                        <div class="section__text_block">
                            <p class="section__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus id repellendus harum nemo quasi corporis excepturi iure voluptatum molestiae unde!
                            </p>
                        </div>
                        <div class="section__text_block">
                            
                            <p class="section__text">
                                Безусловно, сложившаяся структура организации, в своём классическом представлении, допускает внедрение кластеризации усилий. Современные технологии достигли такого уровня, что постоянный количественный рост и сфера нашей активности обеспечивает актуальность форм воздействия
                            </p>
                        </div>
                    </div>
                </div>

                <div class="section__block_item">
                    <h3 class="section__block_title">Ноябрь 2020 г.</h3>

                    <div class="section__block">
                        <div class="section__text_block">
                            <p class="section__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo deserunt consequuntur, harum eos cum impedit voluptate nihil facere illo in unde odio aliquid consectetur rem! Deleniti similique soluta ab saepe?
                            </p>
                        </div>
                        <div class="section__text_block">
                            
                            <p class="section__text">
                                Безусловно, сложившаяся структура организации, в своём классическом представлении, допускает внедрение кластеризации усилий. Современные технологии достигли такого уровня, что постоянный количественный рост и сфера нашей активности обеспечивает актуальность форм воздействия
                            </p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>