<div id="team" class="team">
    <div class="container">
        <div class="team__content">
            <h2 class="section__title">Опытная команда</h2>

            <div class="section__block">
                <div class="section__text_block">
                    <p class="section__text">Мы собрали уникальную команду с огромным опытом и экспертизой в строительстве, гостиничном деле и инвестициях.
                    </p>
                </div>
            </div>

        </div>
    </div>

    
    <div class="team__slider slider_fs" data-swiper="swiper5">
        <div class="swiper-wrapper">
        
            <div class="swiper-slide">
                <div class="slider_inner">
                    <div class="top">
                        <div class="slider_image">
                            <img src="img/content/team_1.jpg" alt="">
                        </div>

                        <h3 class="slider_title">Ирина и Ольга Сундуковы</h3>
                        <span class="slider_hint">дизайнеры проекта </span>
                        <p class="slider_info">
                            Интерьерные решения S+S украшают отели и рестораны в Европе, США, на среднем Востоке и Азии. В портфолио студии более 30 международных сетей и бутик отелей, 70 ресторанов, баров и кафе, более 80 банков и магазинов.
                        </p>
                    </div>

                    <div class="bottom">
                        <div class="slider_logo">
                            <img src="img/content/logo_1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="swiper-slide">
                <div class="slider_inner">
                    <div class="top">
                        <div class="slider_image">
                            <img src="img/content/team_2.jpg" alt="">
                        </div>

                        <h3 class="slider_title">Алексис Деларофф</h3>
                        <span class="slider_hint">региональный директор AccorHotels Восток. ( новое фото запросила)</span>
                        <p class="slider_info">
                            Начинал свою карьеру в одной из крупнейших частных гостиниц Парижа, после чего перешел на должность генерального менеджера отелей международных брендов под управлением Queens Moat Houses. 
                            Впервые посетил Россию в 1997 году и с 2006 года занимал должностьдиректора по управлению AccorHotels в России и СНГ, где стал генеральным директором. 
                            Возглавляет AccorHotels Восток с 2018 года.
                        </p>
                    </div>

                    <div class="bottom">
                        <div class="slider_logo">
                            <img src="img/content/about.png" alt="" width="197px">
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="swiper-slide">
                <div class="slider_inner">
                    <div class="top">
                        <div class="slider_image">
                            <img src="img/content/team_3.jpg" alt="">
                        </div>

                        <h3 class="slider_title">Евгений Войтенков</h3>
                        <span class="slider_hint">генеральный директор компании «Союз-строй Инвест», застройщик проекта STATUS.</span>
                        <p class="slider_info">
                            В 1973 году окончил Кременчугское летное училище гражданской авиации, профессиональный летчик. Занимается бизнесом на протяжении 30 лет, являясь основателем и генеральным директором ряда строительных и автодилерских компаний. 
                        </p>
                    </div>

                    <div class="bottom">
                        <div class="slider_logo">
                            <img src="img/design/logo.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="swiper-slide">
                <div class="slider_inner">
                    <div class="top">
                        <div class="slider_image">
                            <img src="img/content/team_4.jpg" alt="">
                        </div>

                        <h3 class="slider_title">Сергей Ногай</h3>
                        <span class="slider_hint">девелопер проекта STATUS, генеральный директор компании «ПУЛКОВО СКАЙ»</span>
                        <p class="slider_info">
                            Сергей Ногай работает на строительном рынке Санкт-Петербурга более 20 лет, за которые прошел все ступени развития бизнеса – от небольшой подрядной компании до девелопера знаковых жилых и коммерческих объектов Северной Столицы. 
                            STATUS – новый проект Сергея Ногая, реализовавшего успешный и инвестиционно-привлекательный комплекс Salut! в Московском районе Санкт-Петербурга. 
                        </p>
                    </div>

                    <div class="bottom">
                        <div class="slider_logo">
                            <img src="img/content/logo_2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="swiper-slide">
                <div class="slider_inner">
                    <div class="top">
                        <div class="slider_image">
                            <img src="img/content/team_1.jpg" alt="">
                        </div>

                        <h3 class="slider_title">Ирина и Ольга Сундуковы</h3>
                        <span class="slider_hint">дизайнеры проекта </span>
                        <p class="slider_info">
                            Интерьерные решения S+S украшают отели и рестораны в Европе, США, на среднем Востоке и Азии. В портфолио студии более 30 международных сетей и бутик отелей, 70 ресторанов, баров и кафе, более 80 банков и магазинов.
                        </p>
                    </div>

                    <div class="bottom">
                        <div class="slider_logo">
                            <img src="img/content/logo_1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="swiper-slide">
                <div class="slider_inner">
                    <div class="top">
                        <div class="slider_image">
                            <img src="img/content/team_1.jpg" alt="">
                        </div>

                        <h3 class="slider_title">Ирина и Ольга Сундуковы</h3>
                        <span class="slider_hint">дизайнеры проекта </span>
                        <p class="slider_info">
                            Интерьерные решения S+S украшают отели и рестораны в Европе, США, на среднем Востоке и Азии. В портфолио студии более 30 международных сетей и бутик отелей, 70 ресторанов, баров и кафе, более 80 банков и магазинов.
                        </p>
                    </div>

                    <div class="bottom">
                        <div class="slider_logo">
                            <img src="img/content/logo_1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide" style="opacity: 0;"></div>
        </div>
    </div>
</div>