.infrastructure {
    margin-bottom: 120px;

    @media (max-width: 767px) {
        margin-bottom: 60px;
    }

    .section__title {
        margin-bottom: 25px;

        
        @media (max-width: 1023px) {
            display: none;
        }
    }

    .section__text {
        margin-bottom: 50px;

        @media (max-width: 1023px) {
            display: none;
        }

        @media (max-width: 767px) {
            margin-bottom: 30px;
        }
    }

    .slider_pattern .slider__title {

        @media (max-width: 767px) {
            margin-left: 33px;
        }
    }
}

.infrastructure__content {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1023px) {
        flex-direction: column;
    }
}

.infrastructure__block {
    width: 44.64%;
    margin-right: 60px;

    @media (max-width: 1023px) {
        width: 100%;
        margin-right: 0;

      
    }

    &.infrastructure__block--mobile {
        display: none;
        order: -2;

        @media (max-width: 1023px) {
            display: block;
        }

        .section__title {        
            
            @media (max-width: 1023px) {
                display: block;
            }
        }
    
        .section__text {
            @media (max-width: 1023px) {
                display: block;
            }
        }
    }
}

.infrastructure__slider {
    position: absolute;
    right: 0;
    width: 50vw;
    height: 700px;

    @media (max-width: 1023px) {
        position: relative;
        height: auto;
        width: calc(100% + 100px);
        margin-left: -50px;
        margin-bottom: 50px;
        order: -1;
    }

    @media (max-width: 767px) {
        width: calc(100% + 40px);
        margin-left: -20px;
        margin-bottom: 30px;
    }
}