.map {
    margin-bottom: 66px;
    
    .slider__text {
        font-weight: 500;
        line-height: 150%;
        color: #fff;

        @media (max-width: 767px) {
            font-size: 14px;
            font-weight: 400;
        }
    }

    .slider__container {
        position: absolute;
        left: 22.3%;
        bottom: 68px;
        max-width: 510px;

        @media (max-width: 1023px) {
            left: 50px;
            right: 50px;
            bottom: 78px;
        }

        @media (max-width: 767px) {
            left: 20px;
            right: 20px;
            bottom: 60px;
        }
    }

   .section__block {

    @media (max-width: 1023px) {
        display: none;
    }
   }
}

.map__content {
    margin-bottom: 50px;
    @media (max-width: 767px) {
        margin-bottom: 0;
    }
}

.map__block {
    display: flex;
    height: 700px;

    @media (max-width: 800px) {
        height: 384px;
    }

    @media (max-width: 767px) {
        flex-direction: column;
        height:auto;
    }
}
.map__slider {
    position: relative;
    width: 50%;
    height: 100%;

    @media (max-width: 767px) {
        width: 100%;
        height:100vw;
    }

    &.slider_pattern {
        
        .swiper-pagination-progressbar {

            &.progress_bar {
                width: 55.5%;
                left: 50%;
                transform: translateX(-50%);

                @media (max-width: 1023px) {
                    width: 73.95%;
                    left: 50px;
                    transform: none;
                }

                @media (max-width: 767px) {
                    width: 88.75%;
                    left: 20px;
                }
            }    
        }    
        
        .slider__title {

            @media (max-width: 767px) {
                margin-left: 33px;
            }
        }
    } 

    .slider_controls {
        left: 22.3%;
        transform: none;

        @media (max-width: 1023px) {
            left: 50px;
            bottom: 15px;
        }

        @media (max-width: 1023px) {
            left: 20px;
            bottom: 15px;
        }
    }
}

.map__container_wr {
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;

    @media (max-width: 767px) {
        height:100vw;
        width: 100%;
    }
}

.map__container {
    width: 100%;
    height: 100%;
    

    .map__image {
        height: 100%;
        object-fit: cover;
    }
}

.slider__title_container {
    position: relative;

    .slider_icon {
        position: absolute;
        top: 0;
        left: -42px;

        @media (max-width: 767px) {
            left: 0;
        }
    }
}

#marker-tooltip {
    display: none;
    align-items: center;
    position:absolute;
    z-index: 10;
    width: 180px;
    height: 66px;
    padding: 0 15px;
    background-color: #fff;
    box-shadow: 0px 13px 25px rgba(0, 0, 0, 0.18);
    font-size: 14px;
    line-height: 18px;
    transform: translate(37px, -58px);

    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: -5px;
        transform: translateY(-50%);
        width: 0; 
        height: 0; 
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;         
        border-right:10px solid #fff; 
    }
}